{%extends 'website/base.html' %}
{%block title%}About me{% endblock title%}

{% block content3 %}

<div class="about-container" data-reactid="20">
    <div class="terminal" data-reactid="21">
      <div class="terminal-header" data-reactid="22">
        <div class="header-button red" data-reactid="23"></div>
        <div class="header-button yellow" data-reactid="24"></div>
        <div class="header-button green" data-reactid="25"></div>
      </div>
      <div class="terminal-window" data-reactid="26">
        <div data-reactid="27">
          <div class="statement" data-reactid="28">
            <div class="input-statement" data-reactid="29">shivank.currentLocation</div>
            <div class="return-statement" data-reactid="30">"Pune,India"</div>
          </div>
          <div class="statement" data-reactid="31">
            <div class="input-statement" data-reactid="32">shivank.contactInfo</div>
            <div class="return-statement" data-reactid="33">
              [
                "<a href='shivankgarg504@gmail'>j.chi2241@gmail.com</a>",
                "<a rel='noopener' href='https://www.linkedin.com/in/justin-chi-64b12b37'>LinkedIn</a>",
                "<a rel='noopener' href='https://github.com/vai0'>github</a>"
              ]
            </div>
          </div>
          <div class="statement" data-reactid="34">
            <div class="input-statement" data-reactid="35">Justin.resume</div>
            <div class="return-statement" data-reactid="36">
              "<a rel='noopener' href='/justinchi_resume.pdf' target='_blank'>justinchi.pdf</a>"
            </div>
          </div>
          <div class="statement" data-reactid="37">
            <div class="input-statement" data-reactid="38">Justin.interests</div>
            <div class="return-statement" data-reactid="39">
              [
                "design",
                "basketball",
                "cooking",
                "starcraft"
              ]
            </div>
          </div>
          <div class="statement" data-reactid="40">
            <div class="input-statement" data-reactid="41">Justin.education</div>
            <div class="return-statement" data-reactid="42">
              "B.Sc. Structural Engineering - University of California, San Diego"
            </div>
          </div>
          <div class="statement" data-reactid="43">
            <div class="input-statement" data-reactid="44">Justin.skills</div>
            <div class="return-statement" data-reactid="45">
              [
                "Sass",
                "JavaScript",
                "Python",
                "React",
                "Redux",
                "Flask",
                "webpack",
                "git"
              ]
            </div>
          </div>
          <div class="statement" data-reactid="46">
            <div class="input-statement" data-reactid="47">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<h4><a href="{% url 'website:index' %}">Back To Home</a></h4>
{% endblock %}