{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{% static 'website/colors/basestyle.css'%}" >
    {%load static%}
    <link rel="stylesheet" href="{% static 'website/colors/index.css'%}">
    <link rel="stylesheet" href="{% static 'website/fonts/basefonts.css'%}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'ckeditor/ckeditor.css' %}">
</head>
    <title>{%block title%}{%endblock title%}</title>
</head>
<body>
    <div class="mainbar">
        <div class="logo"><a href="{%url 'website:index'  %}" id="contact" >LOGO</a></div>
        <div class="navlinks">
            <div class="links">
            <a href="{%url 'website:contact'  %}" id="contact" >About me</a> 

            </div>
            <div class="links">
    <a href="{%url 'website:work'  %}" class="contact" >Work</a> 
                
            </div>
            <div class="links">
    <a href="{%url 'website:blog'  %}" class="contact" >Blog</a> 

            </div>
            <div class="links">
    <a href="{%url 'website:contact'%}" class="contact" >Contact </a> 

            </div>

        </div>
    </div>
    <!-- <div class="terminalwindow">
        <div class="mainterminal">
            <div class="teminalhead">
                <div class="terminallogo"></div>
                <div class="terminalheadtext"></div>
                <div class="terminaldots">
                    <div class="dotred"></div>
                    <div class="dotyellow"></div>
                    <div class="dotgreen"></div>
                </div>
            </div>
        </div>
    </div> -->
    
    <div class="mainname">
    {% block content %}{% endblock %}
    {% block testimonial %}{% endblock testimonial %}

  
    </div>
  <footer>  
        <div class="mainfooter">
            <div class="compartment_upper">
         <div class="sclasseleft">   <span class="say-hello">
            Say Hello 
        </span>
        <u class="ft-link">
            <li class="ft-links">email</li>
            <li class="ft-links">Telegram</li>
        </u>
    </div>
         <div class="sclasseright">   <span class="say-hello">
            Follow me !
        </span>
        <u class="ft-link">
            <li class="ft-links">LinkedIn</li>
            <li class="ft-links">DEV</li>
            <li class="ft-links">Twitter</li>
            <li class="ft-links">GIT Hub</li>
            <li class="ft-links">Telegram</li>
        </u>
            </div>
</div>
        <div class="ftdivclasserline"></div>
        <div class="compartment_lower">
                 <span class="copyright">
                    &copy; copyright 
                 </span>                   
        </div>
        </div>
    
</footer>  
</body>
</html>