
{%extends 'website/base.html' %}
{%block title%} Home Page{% endblock title%}

    {%block content%}
    <h1 class="name">{{my.name}}
    </h1>
    <P><h3>
        {{my.tag_line}}
    </h3>
    <h4>
        {{my.currently_work_as}}
    </h4>
    
    </P>
    {%endblock  %}
    {% block testimonial %}
    {% for tests in test %}
    <div class="testimon">
            <h3>{{tests.Clinet_name}} </h3>
            <p>{{tests.comment}} <br>{{tests.stasified_with_work}}
            </p>
    {% endfor %}
    </div>
    {% endblock testimonial %}